<template>
  <div class="forecast">
    <Forecast
      :currentTemperature="weatherData.currently.temperature"
      :hourly="hourlyData"
      :daily="dailyData"
    />
  </div>
</template>

<script>
import Forecast from '@/components/Forecast.vue'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'forecast',
  components: {
    Forecast
  },
  data () {
    return {}
  },
  computed: {
    ...mapState([
      'weatherData'
    ]),

    ...mapGetters([
      'getWeather'
    ]),

    hourlyData: function () {
      return this.weatherData.hourly.data.slice(0, 5)
    },
    dailyData: function () {
      return this.weatherData.daily.data.slice(0.6)
    }
  }
}
</script>
