<template>
  <div class="home">
    <Search />
  </div>
</template>

<script>
import Search from '@/components/Search.vue'

export default {
  name: 'home',
  components: {
    Search
  },

  data () {
    return {}
  }
}
</script>
