<template>
    <div>
        <h3>Current temperature: {{currentTemperature}} C</h3>
        <p>{{currentSummary}}</p>

        <p>hourly temperature:</p>
        <ul>
            <li v-for="hour in hourly" v-bind:key="hour.id">
                {{hour.summary}}<br>
                <b>Temperature:</b> {{hour.temperature | roundNumber}}
                <br><br>
            </li>
        </ul>

        <p>5 day forecast:</p>
        <ul>
            <li v-for="day in daily" v-bind:key="day.id">
                {{ day.summary }}<br>
                High: {{ day.temperatureMax | roundNumber }}<br>
                Low: {{ day.temperatureMin | roundNumber }}<br><br>
            </li>
        </ul>

    </div>
</template>

<script>
export default {
  name: 'forecast',
  props: {
    currentTemperature: Number,
    hourly: Array,
    daily: Array,
    currentSummary: String
  },

  filters: {
    roundNumber: function (num) {
      return Math.round(num)
    }
  }
}
</script>

<style scoped>
    ul {
        margin: 0;
        padding:0;
        list-style:none;
    }
</style>
