<template>
    <v-container>
        <h1>Stefan's simple weather app</h1>
        <v-text-field
            class="textfield"
            type="text"
            @keyup.enter="searchLocations(location)"
            placeholder="Search for your location"
            v-model="location"/>

            <v-layout row>
                <v-flex xs12 sm6 offset-sm3>
                <v-card>

                    <v-list v-if="locationResults != null">
                    <v-list-tile
                            v-for="location in locationResults.results"
                            v-bind:key="location.id"
                            @click="openForecast([location.geometry.lat, location.geometry.lng])"
                    >
                            <v-list-tile-content>
                            <v-list-tile-title>{{ location.formatted }}</v-list-tile-title>
                            </v-list-tile-content>
                    </v-list-tile>
                    </v-list>

                </v-card>
                </v-flex>
            </v-layout>

    </v-container>
</template>

<script>
import axios from 'axios'

import { mapActions } from 'vuex'

export default {
  name: 'search',
  data () {
    return {
      location: '',
      locationResults: null
    }
  },
  methods: {
    searchLocations: function (query) {
      axios.get(' https://api.opencagedata.com/geocode/v1/json?q=' + this.location + '&key=de85a9fb44b44d67831294fa4deb2022')
        .then(response => (this.locationResults = response.data))

      this.location = ''
    },

    openForecast: function (lat, lng) {
      this.updateWeather(lat, lng)
        .then(() => { this.$router.push('forecast') })
    },

    ...mapActions([
      'updateWeather'
    ])
  }
}
</script>

<style scoped>
    ul {
        list-style:none;
        margin: 0;
        padding:0;
    }
    .textfield {
        width: 90%;
        max-width:200px;
        margin: 0 auto;
    }
</style>
